.example-appear{
  height: 10px;
  overflow: hidden;
  transition: 0.5s linear all;
}
.example-appear.example-appear-active{
  height: 120px;
  margin-bottom: 20px;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 15px;
}
.example-enter {
  height: 10px;
  overflow: hidden;
  transition: 0.5s linear all;
}

.example-enter.example-enter-active {
  height: 120px;
  margin-bottom: 20px;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 15px;
}

.example-leave {
  overflow: hidden;
  transition: 0.5s linear all;
}

.example-leave.example-leave-active {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.slide-enter{
  animation-name: slideDown;
	animation-duration: 1s;
	animation-timing-function: ease;
	visibility: visible !important;
}

.slide-leave{
  display: none;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}
.fade-enter {
  opacity: 0;
}
.fade-leave {
  opacity: 1;
}
.fade-appear{
  opacity: 0;
}
.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
